@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);/**
 * -------------------------------------------------------
 * GENERAL STYLES
 * -------------------------------------------------------
 */

body,
html {
  font-family: "Poppins", sans-serif;
}

.wrapper,
footer {
  width: 100%;
}

/**
 * -------------------------------------------------------
 * HEADER STYLES
 * -------------------------------------------------------
 */

.navbar-light {
  background-color: transparent !important;
}

.nav-link {
  text-transform: uppercase;
  color: #58468c !important;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-link:hover {
  color: #ff8a73 !important;
}

/**
 * -------------------------------------------------------
 * FOOTER STYLES
 * -------------------------------------------------------
 */

.footer-top {
  background-color: #343352;
  padding: 50px 0;
}

.footer-top p {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 28px;
  font-family: .9rem;
}

footer h6 {
  color: #fff;
  font-size: 1.1rem;
  padding-bottom: 1.7rem;
}

.footer-bottom {
  background-color: #2d2d47;
  padding: 20px 0;
  font-size: .9rem;
  color: #fff;
}

