
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-secondary: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$purple: #58468c;
$midium-purple: #343352;
$dark-purple: #2d2d47;
$rose: #ff8a73;
